<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidatar-se | <span th:text="${vaga.nomeVaga}"></span></title>
    <link rel="stylesheet" href="/css/formularioCandidato.css">
</head>
<body>
<!-- NAV -->
<div class="menu-bar">
    <h1 class="logo"><a th:href="@{/#inicio}"> Portal do <span>Polo</span></a></h1>
</div>

<div class="container">

    <div class="vaga-info">
        <h1>Candidatura para: <span th:text="${vaga.nomeVaga}"></span></h1>
        <p><strong>Empresa:</strong> <span th:text="${vaga.empresaContratante}"></span></p>
        <p><strong>Horário:</strong> <span th:text="${vaga.horarioFuncionamento}"></span></p>
        <p><strong>Descrição:</strong> <span th:text="${vaga.descricao}"></span></p>
        <p><strong>Requisitos:</strong> <span th:text="${vaga.requisitos}"></span></p>
    </div>

    <div class="form-card">
        <h2>Seus Dados</h2>

        <form th:action="@{/candidatar/salvar}" th:object="${candidatura}" method="post">
            <input type="hidden" name="vagaId" th:value="${vaga.id}" />

            <div class="form-vaga">
                <label for="nome">Nome Completo:</label>
                <input type="text" id="nome" th:field="*{nomeCandidato}" required>
            </div>

            <div class="form-vaga">
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" required>
            </div>

            <div class="form-vaga">
                <label for="telefone">Telefone:</label>
                <input type="tel" id="telefone" th:field="*{telefone}">
            </div>

            <div class="form-vaga">
                <label for="curriculo">Link para Currículo (URL):</label>
                <input type="url" id="curriculo" th:field="*{linkCurriculo}" required>
            </div>

            <button type="submit" class="btn"  onclick="return confirm('Candidaura enviada com sucesso');">Enviar Candidatura</button>
        </form>

        <a class="voltar" th:href="@{/vagas}">← Voltar para as vagas</a>
    </div>
</div>

<!-- FOOTER &ndash-->
<footer>
    <div class="footer_content">
        <div class="footer_sobre_nos">
            <img src="/img/img-footer.png" alt="FOGAP-Logos-Entidades-Formadoras-CESMAR">
        </div>

        <div class="navegacao">
            <div class="endereco">
                <h1>Endereço</h1>
                <h3>Estr. Antônio Severino, 1493 - Rubem Berta, Porto Alegre - RS, 91250-330</h3>
            </div>

            <div class="contato">
                <h1>Telefone para contato</h1>
                <h3>(51) 3086-2300</h3>
            </div>

            <div class="email">
                <h1>Email</h1>
                <h3>cesmar@maristas.org.br</h3>
            </div>
        </div>

        <div class="footer_redes_sociais">
            <a href="https://www.facebook.com/soucesmar/?locale=pt_BR" class="footer_link" id="facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/soucesmar/" class="footer_link" id="instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a href="https://www.linkedin.com/company/centro-social-marista-porto-alegre/?originalSubdomain=br" class="footer_link" id="linkedin">
                <i class="fa-brands fa-linkedin"></i>
            </a>

            <a href="https://www.youtube.com/channel/UCCcMr8mSD-RSbAxQ9tKToLg" class="footer_link" id="youtube">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>

        <div class="footer_copyright">
            &#169
            2025 Todos os direitos reservados
        </div>
    </div>
</footer>

</body>
</html>