
<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- chatbot -->
    <script> window.chtlConfig = { chatbotId: "7549813678" } </script>
    <script async data-id="7549813678" id="chtl-script" type="text/javascript" src="https://chatling.ai/js/embed.js"></script>
    <!-- chatbot final-->
<!--    &lt;!&ndash; DATA AOS &ndash;&gt;-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!--    &lt;!&ndash; DATA AOS  final&ndash;&gt;-->
    <link rel="shortcut icon" href="img/icone-branco-removebg-preview.png">
<!--    &lt;!&ndash; icones &ndash;&gt;-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--    &lt;!&ndash; final icones &ndash;&gt;-->
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal do Polo</title>
</head>
<body>

<!--Barra de navegação-->
<div class="menu-bar">
    <h1 class="logo"><a th:href="@{/#inicio}"> Portal do <span> Polo</span></a></h1>
    <ul>
        <li><a th:href="@{/#inicio}"> Início </a></li>
        <li><a th:href="@{/#calendario-enventos}"> Eventos </a></li>
        <li><a th:href="@{/vagas}"> Vagas</a></li>
        <li><a th:href="@{/vagas/nova}"> Postar vaga </a></li>
        <li><a th:href="@{/}"> Colaboradores <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-menu">
                <ul>
                    <li> <a href="#"> Time 1</a></li>
                    <li> <a href="#"> Time 2</a></li>
                    <li> <a href="#"> Time 3</a></li>
                    <li> <a href="#"> Time 4</a></li>
                    <li> <a href="#"> Time 5</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<section class="container-carrossel">
    <div class="carrossel">
        <div class="slides">
            <img src="img/2.png" alt="Slide 1">
            <img src="img/3.png" alt="Slide 2">
            <img src="img/4.png" alt="Slide 3">
        </div>
        <button class="esquerda">&#10094;</button>
        <button class="direita">&#10095;</button>
    </div>

<!--Ondas Parallax-->
    <div class="ondas">
        <div class="onda" id="onda1"></div>
        <div class="onda" id="onda2"></div>
    </div>
</section>

<!-- SOBRE O POLO -->
<section class="infoCesmar" data-aos="fade-right">
    <div class="titulo" >
        <h1> Sobre o CESMAR</h1>
    </div>
    <p>O Centro Social Marista de Porto Alegre (CESMAR) é uma instituição de caráter social vinculada à Rede Marista, sediada no bairro Mário Quintana, na capital gaúcha. Inaugurado em 1998, o CESMAR ocupa uma vasta área — mais de 78 mil m² — e representa um importante polo de transformação social na comunidade. <br>
        Foi criado sob a inspiração do carisma de São Marcelino Champagnat, fundador do Instituto Marista, e está comprometido com a formação integral de crianças, adolescentes e jovens, promovendo uma sociedade mais livre, justa, fraterna e participativa. <br>
    </p>
    </p>
    </div>
</section>

<div class="titulo-atuacao">
    <h1>Áreas de atuação</h1>
</div>
<!--CARDS -->

<div class="container-card">
    <div class="card" data-aos="zoom-in-down">
        <img src="img/8.png" alt="">

        <div class="infos-cesmar" data-aos="fade-left">
            <h3>Sócio educativo</h3>
            <p >A atuação Social da Rede Marista oportuniza novas perspectivas de futuro a crianças, adolescentes, jovens e adultos em situação de vulnerabilidade. A transformação social é proporcionada a partir de uma atuação que reúne serviços focados no desenvolvimento integral dos educandos e estudantes, suas famílias e comunidades nas quais estão inseridos.
                Distribuídos na Grande Porto Alegre, no interior do Rio Grande do Sul, e na Região Amazônica, os Centros Sociais e as demais frentes de atuação do Social Marista têm o objetivo de promover a inclusão e minimizar o impacto das desigualdades sociais, educacionais e econômicas.</p>
        </div>
    </div>

    <div class="card" data-aos="zoom-in-down">
        <img src="img/9.png" alt="">

        <div class="infos-cesmar" data-aos="fade-left">
            <h3>Polo</h3>
            <p >O Polo Marista de Formação Tecnológica, localizado dentro do complexo do Centro Social Marista (CESMAR) no bairro Mário Quintana, é um espaço dedicado ao desenvolvimento humano, inclusão social e capacitação técnica por meio de tecnologia. <br>
                <span>Missão e Propósito </span> <br>
                Promover crescimento econômico e justiça social por meio da tecnologia, especialmente em uma região desfavorecida da cidade. <br>
                Fomentar o desenvolvimento sustentável, unindo formação técnica a valores humanos, comunitários e de responsabilidade ambiental. <br>
                Capacitar jovens e adultos para o mundo do trabalho, através de cursos, projetos e oficinas que inserem a comunidade no universo da tecnologia.
            </p>
        </div>
    </div>

    <div class="card" data-aos="zoom-in-down">
        <img src="img/10.png" alt="">

        <div class="infos-cesmar" data-aos="fade-left">
            <h3>Escola</h3>
            <p >A Rede Marista acredita na educação desenvolvida pela combinação de diálogo e confiança, segurança e afeto, pela soma de valores e conhecimentos técnicos e acadêmicos.
                Desenvolvida tanto na Educação Básica​, nos Colégios Maristas e Escolas Sociais, quanto no Ensino Superior, na PUCRS​, a proposta educacional marista alia a formação humano-cristã à práticas pedagógicas de qualidade e inovadoras para atender às exigências da atualidade.
            </p>
        </div>
    </div>
</div>
<!--SOBRE O POLO FINAL -->

<!-- CALENDARIO DO POLO-->
<div class="calendario" id="calendario-enventos">
    <div class="titulo-calendario">
        <h1> Calendário de eventos</h1>
        <div class="info-calendario">
            <ul>
                <li>dia 9/10/2025 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga culpa corporis iure necessitatibus ut deserunt eligendi itaque id voluptates facere blanditiis veritatis ab, et voluptatem sed! Quo eligendi libero dignissimos?</li>
                <li>dia 9/10/2025 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga culpa corporis iure necessitatibus ut deserunt eligendi itaque id voluptates facere blanditiis veritatis ab, et voluptatem sed! Quo eligendi libero dignissimos?</li>
                <li>dia 9/10/2025 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga culpa corporis iure necessitatibus ut deserunt eligendi itaque id voluptates facere blanditiis veritatis ab, et voluptatem sed! Quo eligendi libero dignissimos?</li>

            </ul>
            <img src="https://marketplace.canva.com/EAF7l-JNIx8/2/0/1600w/canva-calend%C3%A1rio-mensal-estilo-fotoc%C3%AAntrico-em-preto-e-branco-wgD9CKkUJl8.jpg" alt="">
        </div>

    </div>
</div>

<!-- FOOTER &ndash-->
<footer>
    <div class="footer_content">
        <div class="footer_sobre_nos">
            <img src="img/img-footer.png" alt="FOGAP-Logos-Entidades-Formadoras-CESMAR">
        </div>

        <div class="navegacao">
            <div class="endereco">
                <h1>Endereço</h1>
                <h3>Estr. Antônio Severino, 1493 - Rubem Berta, Porto Alegre - RS, 91250-330</h3>
            </div>

            <div class="contato">
                <h1>Telefone para contato</h1>
                <h3>(51) 3086-2300</h3>
            </div>

            <div class="email">
                <h1>Email</h1>
                <h3>cesmar@maristas.org.br</h3>
            </div>
        </div>

        <div class="footer_redes_sociais">
            <a href="https://www.facebook.com/soucesmar/?locale=pt_BR" class="footer_link" id="facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/soucesmar/" class="footer_link" id="instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a href="https://www.linkedin.com/company/centro-social-marista-porto-alegre/?originalSubdomain=br" class="footer_link" id="linkedin">
                <i class="fa-brands fa-linkedin"></i>
            </a>

            <a href="https://www.youtube.com/channel/UCCcMr8mSD-RSbAxQ9tKToLg" class="footer_link" id="youtube">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>

        <div class="footer_copyright">
            &#169
            2025 Todos os direitos reservados
        </div>
    </div>
</footer>

<script src="/js/script.js"></script>

<!--&lt;!&ndash; data aos &ndash;&gt;-->
<script>
    AOS.init();
</script>
</body>
</html>
