<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/calendario.css">
   
    <title>Calendário</title>
</head>

<body>

    <div class="calendario">
        <div class="dias_semana">
            <span>Domingo</span>
            <span>Segunda</span>
            <span>Terça</span>
            <span>Quarta</span>
            <span>Quinta</span>
            <span>Sexta</span>
            <span>Sábado</span>
        </div>

        <div class="numero_dias">
            <span class="mes_anterior">30</span>
            <span class="mes_anterior">31</span>
        </div>

    </div>

    <script src="/js/calendario.js"></script>

</body>
</html>
</html>